<!DOCTYPE html>
<html>
  <head>
    <title>Rapportal</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render 'layouts/header' %>
    <div class="container after-navbar-fixed-top">
      <div class="row">
        <div class="jumbotron jumbotron-ext">
          <div class="container">
            <h1 class="site-title" id="site-title">Rapportal</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a href="/top/index/">通常表示</a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a href="/top/index_list/">一覧表示</a>
        </div>
      </div>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
            <%= yield %>
        </div>
        <%= render 'layouts/sidebar' %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
